@font-face {
    font-family: Carnival;
    src: url('../fonts/carnevalee_freakshow.ttf');
}
h1 {
  font-family: Carnival !important;
}
h1.header {
  color: rgb(137,0,51);
}
.crazy-text {
  font-family: Carnival !important;
}
p {
  font-size: 15px;
}
.container-padded {
  padding-top: 48px;
  padding-bottom: 48px;
}
.fancy-text {
  font-family: 'Tangerine', cursive !important;
}
@media (min-width: 400px) {
  .fancy-text {
    font-size: 3.5em;
  }
}
@media (min-width: 440px) {
  .fancy-text {
    font-size: 4em;
  }
}
@media (min-width: 500px) {
  .fancy-text {
    font-size: 4.5em;
  }
}
@media (min-width: 630px) {
  .fancy-text {
    font-size: 5.5em;
  }
}
@media (min-width: 768px) {
  .fancy-text {
    font-size: 6.5em;
  }
}
@media (min-width: 1200px) {
  .fancy-text {
    font-size: 8em;
  }
}
