/* *********************************
           Variables
  ********************************** */
/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
  /*background: rgba(62, 195, 246, 0);*/
  
  /* MAROON 137,0,51 */
  /* GREEN 0, 49, 17 */
  /* PURPLE  46, 1, 52 */
  /* PURPLE MED 69, 9, 77 */
  /* PURPLE LIGHT 97, 31, 106 */

  background: rgba(46, 1, 52,0); 
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(0,0,0, 0.8);
    color: #F8F8F8 !important;
  }
  button.navbar-toggle {
    float:left !important;
    margin-left: 4px !important;
  }
  .big-logo-row .big-logo-container {
      padding-top: 5px !important;
      text-align: right !important;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #DDDDDD;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #F8F8F8;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  height: 50px;
  overflow: hidden;
}

.small-logo {
  color: #E4E4E4;
  font-size: 2.5em;
  padding-bottom: 2px;
  transition: color 0.35s ease;
}
.small-logo:hover { /* .small-logo:focus */
  color:#FFFFFF;
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
  /*background: #4A148C;*/
  /* MAROON 74,20,140 */
  background: rgb(46, 1, 52);
}
.big-logo-row .big-logo-container {
  padding-top: 50px;
}
.big-logo-row h1 {
  font-size: 3em;
  margin: 0;
  padding: 0 0 15px 0;
}
@media (min-width: 400px) {
  .big-logo-row h1 {
    font-size: 2.25em;
  }
  .small-logo {
    font-size: 2em;
  }
}
@media (min-width: 440px) {
  .big-logo-row h1 {
    font-size: 2.45em;
  }
  .small-logo {
    font-size: 2.5em;
  }
}
@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 3em;
  }
  .small-logo {
    font-size: 2.5em;
  }
}
@media (min-width: 630px) {
  .big-logo-row h1 {
    font-size: 3.75em;
  }
  .small-logo {
    font-size: 2.5em;
  }
}
@media (min-width: 768px) {
  .big-logo-row h1 {
    font-size: 4.25em;
    padding-bottom: 30px;
  }
  .small-logo {
    font-size: 2.5em;
  }
}
@media (min-width: 1200px) {
  .big-logo-row h1 {
    font-size: 5em;
  }
  .small-logo {
    font-size: 2.5em;
  }
}
